
.toolbar-button {
  color: #00cfba;
  font-size: 28px;
  transition: all 0.1s;
}

.toolbar-button:hover {
  cursor: pointer;
  color: #009082;
}

.toolbar-button:active {
  color: #00cfba;
  opacity: 0.25;
}
