
.message-input {
  position: absolute;
  bottom: 0px;
  padding: 8px;
  width: calc(100% - 16px);
  display: flex;
  align-items: center;
  background: white;
}

@supports (backdrop-filter: blur(20px)) {
  .message-input {
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
  }
}

.text-input {
  flex-grow: 1;
  padding: 0 24px;
  border-radius: 24px;
  border: none;
  font-size: 14px;
  height: 40px;
  background: #f1f1f4;
}

.text-input::placeholder {
  opacity: 0.3;
}

.toolbar-button-set {
  width: fit-content;
}

.message-input .toolbar-button {
  color: #bbbbbf;
  margin-left: 15px;
}

.message-input .toolbar-button:hover {
  color: #99999c;
}
